apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: silexa-postgres
spec:
  instances: 2
  storage:
    size: 20Gi
    storageClass: local-path
  resources:
    requests:
      cpu: "250m"
      memory: 512Mi
    limits:
      cpu: "1"
      memory: 2Gi
  bootstrap:
    initdb:
      database: app_admin
      owner: app_admin
      secret:
        name: silexa-postgres-app-admin
      postInitSQL:
        - "ALTER ROLE app_admin CREATEDB CREATEROLE"
  postgresql:
    parameters:
      max_connections: "200"
      shared_buffers: "256MB"
