apiVersion: v1
kind: LimitRange
metadata:
  name: silexa-data-defaults
spec:
  limits:
    - type: Container
      default:
        cpu: "1"
        memory: 2Gi
      defaultRequest:
        cpu: "250m"
        memory: 512Mi
