server:
  replicaCount: 1
  config:
    persistence:
      defaultStore: default
      numHistoryShards: 512
      default:
        driver: sql
        sql:
          driver: postgres12
          host: temporal-postgresql
          port: 5432
          database: temporal
          user: temporal
          password: temporal
      visibility:
        driver: sql
        sql:
          driver: postgres12
          host: temporal-postgresql
          port: 5432
          database: temporal_visibility
          user: temporal
          password: temporal
  dynamicConfig:
    frontend.enableUpdateWorkflowExecution:
      - value: true
    system.enableUpdateWorkflowExecution:
      - value: true
schema:
  createDatabase:
    enabled: false
  setup:
    enabled: true
  update:
    enabled: true
elasticsearch:
  enabled: false
prometheus:
  enabled: false
grafana:
  enabled: false
cassandra:
  enabled: false
mysql:
  enabled: false
postgresql:
  enabled: false
